body {
  padding: 12px 20%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

.reddit-entries-container {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.reddit-entry {
  display: flex;
  background-color: #b5bdc4;
  border: 0.5px blue solid;
  margin: 5px 0;
  padding: 10px;
}

.entry-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry-title {
  font-weight: 600;
}

.author{
  font-style: italic;
  font-weight: 500;
}

.time:hover {
  text-decoration: underline;
  cursor: pointer; 
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  width: 180px;
  padding: 5px;
  font-size: 14px;
}